<a href="https://colab.research.google.com/github/Jyoshnagundapu/2216134_AIML_BootCamp/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Implement the methods of String with examples.

In [1]:
str='Gundapu Jyoshna'
print(str)
print(len(str))
print(str[5])
print(str.capitalize())
print(str.upper())
print(str.title())
print(str.lower())
print(str.replace('J','K'))
x="Hiii"
y="Senior"
z=x+y
print(z)
str1=input('Enter your name:')
print('My name is',str1)

Gundapu Jyoshna
15
p
Gundapu jyoshna
GUNDAPU JYOSHNA
Gundapu Jyoshna
gundapu jyoshna
Gundapu Kyoshna
HiiiSenior
Enter your name:Jyosh
My name is Jyosh

2.Implement the methods of List with examples.

In [3]:
str=[1,2,3,4,"jyosh","lucky","dilip"]
print(str)
print(str[5])
print(str[1:3])
str.insert(3,"sam")
print(str)
str1=[7,8,9,"krish"]
str.extend(str1)
print(str)
str.remove('lucky')
print(str)
str.pop()
print(str)
del str[0]
print(str)
str.clear()
print(str)
str=[1,2,[1,2,3],[1,2],3]
print(str[2][1])

[1, 2, 3, 4, 'jyosh', 'lucky', 'dilip']
lucky
[2, 3]
[1, 2, 3, 'sam', 4, 'jyosh', 'lucky', 'dilip']
[1, 2, 3, 'sam', 4, 'jyosh', 'lucky', 'dilip', 7, 8, 9, 'krish']
[1, 2, 3, 'sam', 4, 'jyosh', 'dilip', 7, 8, 9, 'krish']
[1, 2, 3, 'sam', 4, 'jyosh', 'dilip', 7, 8, 9]
[2, 3, 'sam', 4, 'jyosh', 'dilip', 7, 8, 9]
[]
2

3.Implement the methods of Tuple with examples.

In [12]:
str=(1,2,3,4)
str1=("hi","hello","smile")
print(str)
print(str[3])
print(str[1:3])
print(min(str))
print(max(str))
print(len(str))
str=(1,2,[1,2,3],[1,2],3)
print(s[2][1])

(1, 2, 3, 4)
4
(2, 3)
1
4
4
2

4.Implement the methods of Dictionary with examples

In [13]:
dict={'name':'jyosh','age':20,'dob': '11-04-2002'}
print(dict.keys())
print(dict['name'])
print(dict.values())
dict.update({'college':'SR University'})
print(dict)
dict.pop('college')
print(dict)

dict_keys(['name', 'age', 'dob'])
jyosh
dict_values(['jyosh', 20, '11-04-2002'])
{'name': 'jyosh', 'age': 20, 'dob': '11-04-2002', 'college': 'SR University'}
{'name': 'jyosh', 'age': 20, 'dob': '11-04-2002'}

5.Implement the methods of Sets with examples

In [15]:
str={1,2,3,8,9,10}
str1={1,2,3,(5,6),(1,2,3),"holla"}
l=[1,2,3,4]
str2=set(l)
print(str2)
str.add(2)
print(str)
str.update([2,3,4])
print(str)
str.discard(3)
print(str)
str.remove(4)
print(str)
x={10,11,12,13}
y={9,10,8,11}
print(x|y)
print(x.union(y))
print(y.union(x))
print(x&y)
print(x.intersection(y))
print(y.intersection(x))
print(x-y)
print(x.difference(y))
print(y-x)
print(y.difference(x))

{1, 2, 3, 4}
{1, 2, 3, 8, 9, 10}
{1, 2, 3, 4, 8, 9, 10}
{1, 2, 4, 8, 9, 10}
{1, 2, 8, 9, 10}
{8, 9, 10, 11, 12, 13}
{8, 9, 10, 11, 12, 13}
{8, 9, 10, 11, 12, 13}
{10, 11}
{10, 11}
{10, 11}
{12, 13}
{12, 13}
{8, 9}
{8, 9}

6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.

In [17]:
x=int(input('Enter a number:'))
print(" input value:",x)
print("Binary value:",bin(x))
print("Octal value:",oct(x))
print("Hexadecimal value",hex(x))

Enter a number:4
 input value: 4
Binary value: 0b100
Octal value: 0o4
Hexadecimal value 0x4

7.Implement Arithmetic operators with examples

In [22]:
x=6
y=4
print('Addition is:',x+y)
print('Subtraction is:',x-y)
print('Multiplication is:',x*y)
print('Division is:',x/y)
print('Modulo division is:',x%y)
print('Exponential is:',x**y)
print('Floor division is:',x//y)

Addition is: 10
Subtraction is: 2
Multiplication is: 24
Division is: 1.5
Modulo division is: 2
Exponential is: 1296
Floor division is: 1

8.Implement Assignment operators with examples.

In [20]:
x=8
y=5
x+=y
print('Addition is',x)
x-=y
print('Subtraction is',x)
x*=y
print('Multiplication is',x)
x/=y
print('Division is',x)
x%=y
print('Modulo division is',x)
x**=y
print('Exponential is',x)
x//=y
print('Floor division is',x)

Addition is 13
Subtraction is 8
Multiplication is 40
Division is 8.0
Modulo division is 3.0
Exponential is 243.0
Floor division is 48.0

9.Implement Comparison operators with examples.

In [23]:
p=5
q=1
print(p==q)
print(p!=q)
print(p>q)
print(p<q)
print(p>=q)
print(p<=q)

False
True
True
False
True
False

  10.Implement Logical operators with examples.

In [24]:
p=True
q=False
print("a and q is",p and q)
print("a or q is",p or q)
print("a is",not p)

a and q is False
a or q is True
a is False

11.Implement Bitwise operators with examples

In [25]:
x=6
y=3
print(x&y)
print(x^y)
print(x|y)
print(~x)
print(x>>2)
print(x<<2)

2
5
7
-7
1
24

12.Implement Membership operators with examples.

In [26]:
p="jyoshna josh"
q={10:'y',20:'z'}
print('H' in p)
print(10 in q)
print('a' not in q)

False
True
True

13.Implement Identity operators with examples

In [27]:
a1=100
b1=99
a2="hola"
b2="Helo"
a3=[1,2,3]
b3=[1,2,3]
print(a1 is not b1)
print(a1 is not b1)
print(a3 is b3)

True
True
False

14.Demonstrate Negative indexing for List and apply slicing

In [29]:
list=[1,2,"jyosh","krish"]
print(l[-1])
print(l[1:3])
print(l[::-1])
print(l[-1:-3:-1])

krish
[2, 'jyosh']
['krish', 'jyosh', 2, 1]
['krish', 'jyosh']

15. Predict the output for the given code snippet and justify the result.

In [30]:
print('A series of characters designated as one object known as a string'[::-1])
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("--------------------")
print('Welcome to Python training program'[3:10][::-1])

gnirts a sa nwonk tcejbo eno sa detangised sretcarahc fo seires A
taawkcbe  tgestrcoeeA
--------------------
ot emoc

16. Write a python code to get desired output

In [31]:
str=input('Enter a string')
print('p_phrase=',str)
t=str[::-1]
print(t.upper())

Enter a stringhello
p_phrase= hello
OLLEH

17. You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. Input X= 2 Output ZZOOOO Input X= 5 Output ZZZZZOOOOOOOOOO

In [32]:
x=int(input())
for i in range(x):
  print('A',end="")
for i in range(x<<1):
  print('O',end="")
print("\n") 
a=int(input())
l=[]
for i in range(x):
  l.insert(x,'A')
for i in range(x<<1):
  l.insert(x,'O')
print(''.join(l))

4
AAAAOOOOOOOO

5
AAAAOOOOOOOO