<a href="https://colab.research.google.com/github/Jyoshnagundapu/2216134_AIML_BootCamp/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
#if statement
var=100
if var>0:
  print("true")
  print(var)

var1=0
if var1>0:
  print("true")
  print(var1)

true
100

In [26]:
#if..else statement
var2=-1
if var2>0:
  print("true")
  print(var2)
else:
  print("false")
  print(var2)

false
-1

In [27]:
#nested if statements
#bus tickets
age=int(input("Enter age:"))
if age>12 and age<=18:
  if age<15:
    print("Quarter ticket implies")
  elif age==15:
    print("Quarter ticket + discount")
  else:
    print("Half ticket")
elif age>=19 and age<=60:
  print("Full ticket")
elif age>60:
  print("Full ticket + discount")
else:
  print("No ticket")

Enter age:21
Full ticket

In [28]:
#for loop
num=[6,5,3,8,4,2,5,4,11]
sum=0
for val in num:
  sum=sum+val
print("The sum is",sum)
print("\n")

for i in range(1,11):
  print(i)

print("\n")

for i in range(1,11,2):
  print(i)

print("\n")

x=[2,3,4,5,6,7,8]
y=[]
for a in x:
  if a%2==0:
    y.append(a)
print(y)
print("\n")

The sum is 48


1
2
3
4
5
6
7
8
9
10


1
3
5
7
9


[2, 4, 6, 8]

In [29]:
#using statements in ffor loop
digits=[0,1,5]
for i in digits:
  print(i)
else:
  print("no items left")

print("\n")

for l in "python":
  print("Current letter:",l)
  

#iterating by sequence indexing
print("\n")
fruit=['apple','banana','grapes']
for index in range(len(fruit)):
  print('Current fruit:',fruit[index])

0
1
5
no items left


Current letter: p
Current letter: y
Current letter: t
Current letter: h
Current letter: o
Current letter: n


Current fruit: apple
Current fruit: banana
Current fruit: grapes

In [30]:
X=[[12,7,3],
   [4,5,6],
   [7,8,9]]

Y=[[5,8,1],[1,1,0],[5,3,7]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):
  for j in range(len(X[0])):
    res[i][j]=X[i][j]+Y[i][j]
  for r in res:
    print(r)

[17, 15, 4]
[0, 0, 0]
[0, 0, 0]
[17, 15, 4]
[5, 6, 6]
[0, 0, 0]
[17, 15, 4]
[5, 6, 6]
[12, 11, 16]

In [31]:
X=[[12,7,3],
   [4,5,6],
   [7,8,9]]

Y=[[5,8,1],[1,1,0],[5,3,7]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):
  for j in range(len(X[0])):
    res[i][j]=X[i][j]-Y[i][j]
  for r in res:
    print(r)

[7, -1, 2]
[0, 0, 0]
[0, 0, 0]
[7, -1, 2]
[3, 4, 6]
[0, 0, 0]
[7, -1, 2]
[3, 4, 6]
[2, 5, 2]

In [32]:
num=int(input("Enter till which table you want to print"))
i=1
while(i<=num):
  print(f"Table {i}")#rawstring
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    print(f"{i}+{j}={i+j}")
    print(f"{i}-{j}={i-j}")
    print(f"{i}/{j}={i/j}")
    j=j+1
  print("_____________________")
  i=i+1

Enter till which table you want to print7
Table 1
1*1=1
1+1=2
1-1=0
1/1=1.0
1*2=2
1+2=3
1-2=-1
1/2=0.5
1*3=3
1+3=4
1-3=-2
1/3=0.3333333333333333
1*4=4
1+4=5
1-4=-3
1/4=0.25
1*5=5
1+5=6
1-5=-4
1/5=0.2
1*6=6
1+6=7
1-6=-5
1/6=0.16666666666666666
1*7=7
1+7=8
1-7=-6
1/7=0.14285714285714285
1*8=8
1+8=9
1-8=-7
1/8=0.125
1*9=9
1+9=10
1-9=-8
1/9=0.1111111111111111
1*10=10
1+10=11
1-10=-9
1/10=0.1
_____________________
Table 2
2*1=2
2+1=3
2-1=1
2/1=2.0
2*2=4
2+2=4
2-2=0
2/2=1.0
2*3=6
2+3=5
2-3=-1
2/3=0.6666666666666666
2*4=8
2+4=6
2-4=-2
2/4=0.5
2*5=10
2+5=7
2-5=-3
2/5=0.4
2*6=12
2+6=8
2-6=-4
2/6=0.3333333333333333
2*7=14
2+7=9
2-7=-5
2/7=0.2857142857142857
2*8=16
2+8=10
2-8=-6
2/8=0.25
2*9=18
2+9=11
2-9=-7
2/9=0.2222222222222222
2*10=20
2+10=12
2-10=-8
2/10=0.2
_____________________
Table 3
3*1=3
3+1=4
3-1=2
3/1=3.0
3*2=6
3+2=5
3-2=1
3/2=1.5
3*3=9
3+3=6
3-3=0
3/3=1.0
3*4=12
3+4=7
3-4=-1
3/4=0.75
3*5=15
3+5=8
3-5=-2
3/5=0.6
3*6=18
3+6=9
3-6=-3
3/6=0.5
3*7=21
3+7=10
3-7=-4
3/7=0.42857142857142855
3*8=24
3+8=11
3-8=-5
3/8=0.375
3*9=27
3+9=12
3-9=-6
3/9=0.3333333333333333
3*10=30
3+10=13
3-10=-7
3/10=0.3
_____________________
Table 4
4*1=4
4+1=5
4-1=3
4/1=4.0
4*2=8
4+2=6
4-2=2
4/2=2.0
4*3=12
4+3=7
4-3=1
4/3=1.3333333333333333
4*4=16
4+4=8
4-4=0
4/4=1.0
4*5=20
4+5=9
4-5=-1
4/5=0.8
4*6=24
4+6=10
4-6=-2
4/6=0.6666666666666666
4*7=28
4+7=11
4-7=-3
4/7=0.5714285714285714
4*8=32
4+8=12
4-8=-4
4/8=0.5
4*9=36
4+9=13
4-9=-5
4/9=0.4444444444444444
4*10=40
4+10=14
4-10=-6
4/10=0.4
_____________________
Table 5
5*1=5
5+1=6
5-1=4
5/1=5.0
5*2=10
5+2=7
5-2=3
5/2=2.5
5*3=15
5+3=8
5-3=2
5/3=1.6666666666666667
5*4=20
5+4=9
5-4=1
5/4=1.25
5*5=25
5+5=10
5-5=0
5/5=1.0
5*6=30
5+6=11
5-6=-1
5/6=0.8333333333333334
5*7=35
5+7=12
5-7=-2
5/7=0.7142857142857143
5*8=40
5+8=13
5-8=-3
5/8=0.625
5*9=45
5+9=14
5-9=-4
5/9=0.5555555555555556
5*10=50
5+10=15
5-10=-5
5/10=0.5
_____________________
Table 6
6*1=6
6+1=7
6-1=5
6/1=6.0
6*2=12
6+2=8
6-2=4
6/2=3.0
6*3=18
6+3=9
6-3=3
6/3=2.0
6*4=24
6+4=10
6-4=2
6/4=1.5
6*5=30
6+5=11
6-5=1
6/5=1.2
6*6=36
6+6=12
6-6=0
6/6=1.0
6*7=42
6+7=13
6-7=-1
6/7=0.8571428571428571
6*8=48
6+8=14
6-8=-2
6/8=0.75
6*9=54
6+9=15
6-9=-3
6/9=0.6666666666666666
6*10=60
6+10=16
6-10=-4
6/10=0.6
_____________________
Table 7
7*1=7
7+1=8
7-1=6
7/1=7.0
7*2=14
7+2=9
7-2=5
7/2=3.5
7*3=21
7+3=10
7-3=4
7/3=2.3333333333333335
7*4=28
7+4=11
7-4=3
7/4=1.75
7*5=35
7+5=12
7-5=2
7/5=1.4
7*6=42
7+6=13
7-6=1
7/6=1.1666666666666667
7*7=49
7+7=14
7-7=0
7/7=1.0
7*8=56
7+8=15
7-8=-1
7/8=0.875
7*9=63
7+9=16
7-9=-2
7/9=0.7777777777777778
7*10=70
7+10=17
7-10=-3
7/10=0.7
_____________________

In [33]:
Countries_list=['Finland','Germany','Sweden','Ireland','Turkey']
for i in Countries_list:
  if("and" in i): 
     print(i)

Finland
Ireland

In [34]:
x=85
y=90
z=98
avg=x+y+z
avg=avg/3
if(avg>90):
  print("grade A")
elif(avg>80 and avg<90):
  print("grade B")
elif(avg>70 and avg<80):
  print("grade C")
elif(avg>60 and avg<70):
  print("grade D")
else:
  print("grade F")

grade A

In [35]:
c=["Delhi","Telangana","Goa","AP","Kerala"]
l=[]
for i in c:
  l.append(i[0])
  l.append(i[len(i)-1])
print(l)
str="".join(l)
print(str)
str=str.swapcase()
print(str)

['D', 'i', 'T', 'a', 'G', 'a', 'A', 'P', 'K', 'a']
DiTaGaAPKa
dItAgAapkA

In [36]:
c=["Delhi","Telangana","Goa","AP","Kerala"]
str=""
for i in c:
  str+=i[0].lower()+i[-1].upper()
print(str)

dItAgAaPkA

In [37]:
#user defined functions
def greet(name):
  '''this function greets a person'''
  print("Hello,\t"+name+"\tGood Morning")
greet("SRK")

Hello,	SRK	Good Morning

In [38]:
#default
def A(a,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,4))
print(A(2,2))

6
12
6

In [39]:
#keyword
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,b=2,a=1))

7
6

In [40]:
#positional
def add(a,b,c):
  return a+b+c
print(add(10,20,30))
print(add(10,b=20,c=30))

60
60

In [41]:
#arbitrary keyword
def key_arg(**kwargs):
  return kwargs
my_dict=key_arg(Apples=10,Oranges=20,Mangoes=30)
print(my_dict['Apples'])
print(my_dict)

10
{'Apples': 10, 'Oranges': 20, 'Mangoes': 30}

In [42]:
#higher order functions
def laugh(text):
  return text.upper()

def smile(text):
  return text.lower()

def think(func):
  greet=func("Hi,I am higher order function")
  print(greet)

think(laugh)
think(smile)

#print(laugh)
#print(smile)

HI,I AM HIGHER ORDER FUNCTION
hi,i am higher order function

In [43]:
#lambda

def incr(x):
  x=x+1
  return x
print(incr(4))

print((lambda x:x+1)(4))

res=lambda x:x+1
print(res(4))

5
5
5

In [44]:
print((lambda x,y:x**y)(2,2))
print((lambda x,y:x+y)(2,3))

res=lambda x,y:x+y 
print(res(2,3))

4
5
5

In [46]:
def inc(num):
  return num+2
res_list=list(map(inc,li))
print(res_list)

res_list=list(map(lambda x:x+2,li))
print(res_list)

print(list(map(lambda x:x+2,li)))

[3, 4, 7, 8, 9, 12, 17, 27, 67, 80, 92]
[3, 4, 7, 8, 9, 12, 17, 27, 67, 80, 92]
[3, 4, 7, 8, 9, 12, 17, 27, 67, 80, 92]

In [47]:
def eor(num):
  if num%2==0:
    return "The number {} is even".format(num)
  else:
    return "The number {} is odd".format(num)
eor(20)

'The number 20 is even'

In [48]:
l=[1,2,3,4,5,6,7,8,9,10]
list(map(eor,l))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 10 is even']

In [ ]:
li=['apple','banana','grapes']

r=list(map(lambda x:x.capitalize(),li))

print(r)

['Apple', 'Banana', 'Grapes']

In [ ]:
#filter
def odd_num(n):
  if n%2!=0:
    return n
my_list=[9,26,35,-2,50]
print(list(filter(odd_num,my_list)))

my_list=[18,94,33,16,99,22,56,101,32]
temp=list(filter(lambda x:x%2==0,my_list))
print(temp)

[9, 35]
[18, 94, 16, 22, 56, 32]

In [ ]:
#modules
import os
os.mkdir("hi")
os.chdir("hi")
os.getcwd()
os.listdir()
os.rmdir("/content/hi")

In [ ]:
#math module
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.factorial(5))
print(m.pow(2,2))
print(m.floor(1.4))
print(m.tan(5))
print(m.log(2))

3.141592653589793
2.718281828459045
2.0
120
4.0
1
-3.380515006246586
0.6931471805599453

In [ ]:
#sys module
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [ ]:
#statistics module
import statistics as st
print(st.mean([21,29,34]))
print(st.median([1,2,3,4,5]))
print(st.mode([1,2,3,1,1]))

28
3
1

In [ ]:
#time module
import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())
#print(time.ctime())

1655201739.14311
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=14, tm_hour=10, tm_min=15, tm_sec=39, tm_wday=1, tm_yday=165, tm_isdst=0)
Tue Jun 14 10:15:39 2022
Tue Jun 14 10:15:39 2022

In [ ]:
#random module
import random
print(random.randrange(1,50))
print(random.randint(1,100))
print(random.random())

23
54
0.7977008128968152

In [ ]:
import random
g_num=random.randint(0,5)
g2_num=int(input("PREDICT A NUMBER"))
if g2_num==g_num:
  print("you won")
else:
  print("you lost")

PREDICT A NUMBER1
you lost

In [ ]:
li=[1,2,5,6,7,10,15,25,65,78,90]
l2=[]
for i in li:
  if i%5!=0:
   l2.append(i)
print(l2)

[1, 2, 6, 7, 78]

In [ ]:
li=[1,2,5,6,7,10,15,25,65,78,90]
for i in li:
  if i%5==0:
    li.remove(i)
print(li)

[1, 2, 6, 7, 15, 65, 78]

In [ ]:
li=[1,2,5,6,7,10,15,25,65,78,90]
res=list(filter(lambda x:x%5!=0,li))
print(res)

[1, 2, 6, 7, 78]

In [ ]:
fruit=["Apple","Banana","Pear","Avocado","Orange","Amla"]
l=[]
t=list(filter(lambda x:x[0]=='A',fruit))
print(t)

['Apple', 'Avocado', 'Amla']